# Django
DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Database (local sqlite for now)
DATABASE_URL=sqlite:///db.sqlite3

# Stripe (later)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# YouTube/Google (later)
YOUTUBE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=